<header>
    <nav>
        <a href="/">Image Repo</a>
        <ul>
            <li><a href="/images">Images</a></li>
            <li><a href="/images/new">Add Image</a></li>
        </ul>
    </nav>
</header>