<header>
    <nav>
        <a href="/">Home</a>
        <a style="padding: 10px;"></a>
        <a href="/images">Images</a>
        <a style="padding: 10px;"></a>
        <a href="/images/new">Add an Image</a>
    </nav>
</header>